<html>
    <head>
		<meta content="width=device-width" name="viewport">
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<title>Hello World!</title>

		<style type="text/css">
			{{css}}
		</style>
	</head>
	<body>
		<table class="main-container" style="margin: 0 auto 0 auto;" width="480">
			<tbody><tr>
				<td bgcolor="#FFFFFF" class="container">
					<h1>{{name}}</h1>
				</td>
			</tr>
		</tbody></table>
</html>